@import url('https://fonts.googleapis.com/css?family=Michroma');

.black-fill {
  fill: black;
}

.circles-im {
  fill:#fff;
  text-anchor: middle;
  dominant-baseline: middle;
  font-family: 'Michroma', sans-serif;
  line-height: 1;
}
